# Arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais (por exemplo, 'venv/')
venv/
env/

# Configurações locais
*.env
.env

# Arquivos temporários de sistema operacional
.DS_Store
Thumbs.db

# Arquivos do VSCode ou PyCharm
.vscode/
.idea/

# Logs
*.log

# Excel temporário (evita arquivos criados pelo Excel)
~$*

# Arquivos de sistema que você mostrou
start.sh
DockerFile
fly.toml
Procfile

.streamlit/secrets.toml
